* {
    box-sizing: border-box;
    direction: rtl;
   text-align: right;
    
  }
  main {
      width: 900;
      text-align: center;
  }
  header {
    height: 105px;
    background: linear-gradient(to bottom, rgb(144,144,144) 90%, rgb(170, 170, 170));
    position: relative;
   
}
 /*article {
    
    width: 900px;
    text-align: center;
 }
*/
.uperMenuS {
    width: 900px;
    height: 15.2px;
   position: absolute;
    top: 85px;
    text-align: center;
    /*display: inline-block;*/
}
.uperMenu1, .uperMenu2, .uperMenu3, .uperMenu4, 
.uperMenu5, .uperMenu6, .uperMenu7 {
    position: relative;
    display: inline-block;
    }

.menu1, .menu2, .menu3, .menu4, .menu5,
.menu6, .menu7 {
    font-size: 12px;
    padding: 8px;
    color: white;
    text-decoration: none;
    border: none;
}



 .dlist1,  .dlist2, .dlist3, .dlist4
 .dlist5, .dlist6, .dlist7 {
     display: none;
    position: absolute;
    width: 100px;
    /*size: 15px;*/
        z-index: 1;
 }
 .dlist1 a, .dlist2 a, .dlist3 a, .dlist4 a,
 .dlist5 a, .dlist6 a, .dlist7 a  {
    color: white;
    background-color: rgb(170, 170, 170);
    size: 13px;
    display: block;
     }     
/*.dlist2 a {
    color: white;
    background-color: rgb(170, 170, 170);
     size: 13px;
    display: block;
 }   */

 .dlist1 a:hover { background: rgb(192, 192, 192);}
 .dlist2 a:hover { background: rgb(192, 192, 192);}
.dlist3 a:hover { background: rgb(192, 192, 192);}
 .dlist4 a:hover { background: rgb(192, 192, 192);}
 .dlist5 a:hover { background: rgb(192, 192, 192);}
 .dlist6 a:hover { background: rgb(192, 192, 192);}
 .dlist7 a:hover { background: rgb(192, 192, 192);}
 

 .uperMenu1:hover .dlist1  { display: block; }
 .uperMenu2:hover .dlist2  { display: block; }
 .uperMenu3:hover .dlist3  { display: block; }
 .uperMenu4:hover .dlist4  { display: block; }
 .uperMenu5:hover .dlist5  { display: block; }
 .uperMenu6:hover .dlist6  { display: block; }
 .uperMenu7:hover .dlist7  { display: block; }


.uperMenu1:hover .menu1 { color:blue; }
.uperMenu2:hover .menu2 { color:blue; }
.uperMenu3:hover .menu3 { color:blue; }   
.uperMenu4:hover .menu4 { color:blue; }    
.uperMenu5:hover .menu5 { color:blue; }    
.uperMenu6:hover .menu6 { color:blue; }    
.uperMenu7:hover .menu7 { color:blue; }    
     
  #paz {
      position: absolute;
      top: 32px;
      right: 50px;
  }
  
  .spacer {
   
    height: 25px;
    background-color: white;
  }
#uperSection {
    font-family: Arial, Helvetica, sans-serif;    
    width: 900px;
   margin: auto;
   color: white;
   font-size: 12px;
    }
#upLeft, #upmidle, #upRight {
    
    border-bottom-right-radius: 25px;
    z-index: -1;
}

  #upLeftPic {
    float:left;
    width: 33%;
    position: relative;
        }

#upMidlePic {
    float:left;
    width: 33%;
    position: relative;
}
#upRightPic {
    float:left;
   width: 33%;
   position: relative;
}
    
    #upLeftPic > div {
    position: absolute;
    border-bottom-right-radius: 25px;
    bottom: 25px;
    right: 20px;
    left: 24px;
    background: rgb(126, 122, 122);
    opacity: 0.8;
    width: 220px;
    height: 150px;
    text-align: right;
   }
   #upMidlePic > div {
    position: absolute;
    border-bottom-right-radius: 25px;
    bottom: 25px;
    right: 20px;
    left: 24px;
    background: rgb(126, 122, 122);
    opacity: 0.8;
    width: 220px;
    height: 150px;
    text-align: right;
    
   }
   #upRightPic > div {
    position: absolute;
    border-bottom-right-radius: 25px;
    bottom: 25px;
    right: 20px;
    left: 24px;
    background: rgb(126, 122, 122);
    opacity: 0.8;
    width: 220px;
    height: 150px;
    text-align: right;
   }
   h4 {
    font-family:Tahoma, Verdana, sans-serif, bold;
    font-size: 12px; 
    padding: 10px;
    text-align: right;
    margin: 0 20  ;
    
} 


#lowerSection {
  
    width: 900px;
   margin: auto;
    }
.lowerDis {
   
    background-image: url("cube_bg.png");
    background-repeat: no-repeat;
     position: relative;
    border-top-right-radius: 25px;
    height: 180px;
    object-fit: cover;
}

#downLeftPic {
    float:left;
    width: 33%;
   }


#downMidlePic {
    float: left;
    width: 33%;
}

#downRightPic {
    float: left;
    width: 33%;
   
}

footer {
    display: inline-block;
    height: 50px;
    color: white;
    background: rgb(144,144,144);
    position: fixed;
    
    text-align: center;
    width: 100%;
    position: relative
       }
#downLeft {
    
    
padding-left: 5px;
padding-bottom: 25px;

}

#downMidle {
    width: 220px;
    height: 89px;
    margin-top: 15px;
    margin-left: 30px;
  
}
#downRight {
    width: 220px;
    height: 89px;
    margin-top: 15px;
    margin-left: 30px;
 }
.downSecLink {
    color: black;
    margin-left: 5px;
    margin-bottom: 0;
}
a {
    
   /* margin-right: 15px;*/
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    color: white;
    text-decoration: none;
}
#sep {
    padding:5px;
}

.sep {
    font-family:Tahoma, Verdana, sans-serif, bold;
    font-size: 12px; 
    padding: 2px;
    color: white;
}
#links {
    position: absolute;
   text-align: center;
   
    bottom: 10px;
    width: 900px;
}

a:hover {
    color: blue;
}

#fb {
   
    position: absolute;
    right: 2px;
    bottom: 10px;
   padding-left: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

