* {
    box-sizing: border-box;
  }
  header {
    height: 105px;
    background: linear-gradient(to bottom, rgb(144,144,144) 90%, rgb(170, 170, 170));
    position: relative;
   
}
.plist {
    position: relative;
}
.plist > .dlist {
    background-color: rgb(68, 66, 66);
  width: 50px;
  padding: 20px 10px;
  display: none;
  position: absolute;
}
.plist:hover > .dlist {
    display: block;
  }

.uperMenuS {

    position: absolute;
    left: 5px;
    bottom: 5px;
}
.uperMenu {
   
  
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
    color: white;
}
  #paz {
      position: absolute;
      top: 32px;
      right: 50px;
  }

  #spacer {
    /*width: 900px;*/
    height: 25px;
    background-color: white;
  }
#uperSection {
   /* position: absolute;
    top: 150px;*/
    width: 900px;
   margin: auto;
   
    }
#upLeft, #upmidle, #upRight {
    
    border-bottom-right-radius: 25px;
}

  #upLeftPic {
    float:left;
    width: 33%;
        }

#upMidlePic {
    float:left;
    width: 33%;
}

#upRightPic {
     float:left;
    width: 33%;
}
#lowerSection {
  /* position: absolute;
    top: 450px;*/
    width: 900px;
   margin: auto;
    }
.lowerDis {
   
    background-image: url("cube_bg.png");
    background-repeat: no-repeat;
     position: relative;
    border-top-right-radius: 25px;
    height: 180px;
    object-fit: cover;
}

#downLeftPic {
    float:left;
    width: 33%;
   }


#downMidlePic {
    float: left;
    width: 33%;
}

#downRightPic {
    float: left;
    width: 33%;
   
}

footer {
    display: inline-block;
    height: 50px;
    color: white;
    background: rgb(144,144,144);
    position: fixed;
  /*  font-size: 15px;*/
    text-align: center;
    width: 100%;
    position: relative
       }
#downLeft {
    
    height: 155;
    width: 60;
padding-left: 5px;
padding-bottom: 25px;
}
#downMidle {
    width: 220px;
    height: 89px;
    margin-top: 15px;
    margin-left: 30px;
  
}
#downRight {
    width: 220px;
    height: 89px;
    margin-top: 15px;
    margin-left: 30px;
 }

a {
    padding: 5px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    color: white;
    text-decoration: none;
}
#sep {
    padding:5px;
}
h4 {
    font-family:Tahoma, Verdana, sans-serif, bold;
    font-size: 12px; 
    padding: 10px;
    text-align: right;
    margin: 0 20 0 ;
    letter-spacing: -1;
}
.sep {
    font-family:Tahoma, Verdana, sans-serif, bold;
    font-size: 12px; 
    padding: 4px;
}
#links {
    position: absolute;
   
    left: 5px;
    bottom: 5px;
}

a:hover {
    color: blue;
}
span {
    border-right-color: white;
}
#fb {
    size: 15px 15px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

